<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.dao.mapper.QrtzLocksMapper">

    <resultMap id="BaseResultMap" type="com.self.dao.entity.QrtzLocks">
            <id property="schedName" column="SCHED_NAME" jdbcType="VARCHAR"/>
            <id property="lockName" column="LOCK_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        SCHED_NAME,LOCK_NAME
    </sql>
</mapper>
